 <div class="comment-body">
 <div class="row">
  <small>
        <%= comment.commenter.capitalize %>  
    says...
  </small> 
  <br>
  <p>
    "<%= comment.content %>"
  </p>
      <div class="comment-delete">
   <% if @pin.user == current_user || comment.commenter == current_user.username %>
      <%= link_to "Delete",[comment.pin, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> <br>
      <% end %>
      </div>
    </div>
 </div>